@model List<StoreQR.Models.FamilyMember>

@{
    ViewData["Title"] = "Hushållsmedlemmar";
}


@if (User?.Identity?.IsAuthenticated == true)
{
    <div class="container mt-3">
        <h1 class="mx-3 mb-3">@ViewData["Title"]</h1>


        <div class="d-flex flex-row mb-5 p-3 flex-wrap">

            @foreach (var item in Model)
            {

                <div class="card FamilyMemberCard m-1 p-3 ">
                    <div class="d-flex flex-column">
                        <h4>@item.Name</h4>
                        <a class="btn btn-primary m-1 justify-content-end" asp-area="" asp-controller="FamilyMember" asp-action="Edit" asp-route-Id="@item.Id">Redigera</a>
                        <a class="btn btn-warning m-1 justify-content-end" asp-controller="FamilyMember" asp-action="Delete" asp-route-Id="@item.Id" onclick="return confirm('Är du säker på att du vill ta bort hushållsmedlemmen?')" asp-area="">Radera</a>
                    </div>

                </div>
            }
            @if (TempData.ContainsKey("DeleteSuccessMessage"))
            {
                <div class="alert alert-success" role="alert">
                    @TempData["DeleteSuccessMessage"]
                </div>
            }
            @if (TempData.ContainsKey("DeleteErrorMessage"))
            {
                <div class="alert alert-success" role="alert">
                    @TempData["DeleteErrorMessage"]
                </div>
            }
        </div>

        <h4 class="mx-3 mb-3"> Här kan du lägga till personer i ditt hushåll</h4>
        <a class="btn btn-primary m-3 justify-content-end " asp-area="" asp-controller="FamilyMember" asp-action="Create">Lägg till person i hushållet</a>

        <p class="mx-3 mt-3">När du lagt till personer i hushållet så kan du tilldela dessa kläder direkt när du lägger till kläder</p>

    </div>
}
else
{

    <span>Välkommen! Logga in för att få tillgång till StoreQR</span>
}

