@model StoreQR.Models.ClothingItem
@{
    ViewData["Title"] = "Lägg till klädesplagg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mb-5">
    <a asp-action="Index" class="mb-1 GoingBack"><i class="fa-solid fa-chevron-left"></i> Tillbaka</a>
    <h1 class="mt-3 mb-3">@ViewData["Title"]</h1>
    <p> Lägg till uppgifter om ditt klädesplagg. Stjärnmarkerade fält är obligatoriska. </p>
    <p>Du kan välja att lägga in förvaringsutrymme manuellt eller att skanna förvaringens qr-kod.</p>

    <form asp-action="Create" method="post" enctype="multipart/form-data" class="w-75">
    <div class="form-group">
        <label asp-for="ClothingName"></label>
            <input asp-for="ClothingName" class="form-control mt-2" id="ClothingName"/>
        <span asp-validation-for="ClothingName" class="text-danger"></span>
    </div>
    <div class="form-group ClothingUser">
        <label asp-for="ClothingUserId" class="control-label mt-2 mb-2">Välj vem plagget tillhör</label>
            <select asp-for="ClothingUserId" class="form-control" asp-items="@ViewBag.FamilyMemberNames">
            <option value="">Ingen vald</option>
        </select>
    </div>
    <div class="form-group">
            <label asp-for="ClothingBrand" class="mt-2"></label>
        <input asp-for="ClothingBrand" class="form-control" id="ClothingBrand"/>
    </div>
    <div class="form-group">
            <label asp-for="ClothingSize" class="mt-2"></label>
        <input asp-for="ClothingSize" class="form-control" itemid="ClothingSize"/>
    </div>
    <div class="form-group">
            <label asp-for="ClothingColor" class="mt-2"></label>
        <input asp-for="ClothingColor" class="form-control" id="ClothingColor" />
    </div>
    <div class="form-group">
            <label asp-for="Season" class="mt-2"></label>
        <input asp-for="Season" class="form-control" id="Season"/>
    </div>
    <div class="form-group">
            <label asp-for="ClothingMaterial" class="mt-2"></label>
        <input asp-for="ClothingMaterial" class="form-control" id="ClothingMaterial"/>
    </div>
    <div class="form-group">
           <label asp-for="TypeOfClothing" class="mt-2"></label>
        <input asp-for="TypeOfClothing" class="form-control" id="TypeOfClothing"/>
    </div>
    <div class="form-group">
        <label class="mt-2">Skanna QR-kod på ditt förvaringsutrymme</label>
        <div class="d-flex flex-column">
                <button type="button" class="btn btn-primary ml-2" onclick="openScanner()">Skanna QR-kod</button>
             <br />
                <div id="reader" style="display:none;"></div>
            </div>
        </div>
    <div class="form-group ClothingUser">
        <label asp-for="StorageId" class="control-label mt-2 mb-2">Välj var plagget förvaras</label>
        <select asp-for="StorageId" class="form-control" asp-items="@ViewBag.storageData">
            <option value="">Ingen vald</option>
        </select>
     @*        <p>
                @foreach (var kvp in ViewBag.qrCodes)
                {
                    <strong id="strong">@kvp.Text:</strong> @kvp.Value

                    <br />
                }
            </p> *@
    </div>
    <div class="form-group d-flex flex-column">
            <label asp-for="ClothingImageFile" class="mt-2"></label>
        <input asp-for="ClothingImageFile" type="file" accept="image/*" capture="camera" class="form-control-file" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Spara</button>
</form>
</div>
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script type="text/javascript">
    var scanner = new Html5QrcodeScanner("reader", {
        fps: 10, qrbox: 250,
        //För att den bakre kameran på mobilen ska användas
        videoConstraints: {
            facingMode: "environment",
        },
    }, false);
    var scanned = false;
    var qrCodes = @Html.Raw(Json.Serialize(ViewBag.qrCodes));
    function onScanSuccess(qrCodeData) {
        if (scanned == true) { return; }
        scanned = true;
        console.log("Scanned QR Code:", qrCodeData);
        console.log("QrCodes stored are", qrCodes);
        var dropdown = document.getElementById('StorageId');
         for (var kvp in qrCodes) {
             console.log("Value is: ", qrCodes[kvp].value);
            if (qrCodes[kvp].value === qrCodeData) {
                console.log("The matching id is:" + qrCodes[kvp].text);
                dropdown.value = qrCodes[kvp].text;
             }
         }

        console.log("Tried to stop the scanner");
        document.getElementById("reader").style.display = "none";

        console.log("Tried to stop the scanner2");
  
        console.log("Tried to stop the scanner3");
        return;
    }

    // Funktion som öppnar QR-kodläsare
    function openScanner() {
        console.log("Opening a scanner");

        //Visa Qr-kodläsaren
        document.getElementById("reader").style.display = "block";

        scanner.render(onScanSuccess);
    }

</script>