@model List<StoreQR.Models.ClothingItem>
@{
    ViewData["Title"] = "Redigera klädesplagg";
}

@if (User?.Identity?.IsAuthenticated == true)
{
    <div class="d-flex flex-row align-items-center justify-content-center">
        @foreach (var item in Model)
        {
            <div class="m-1 p-0 flex-column d-flex w-50 editClothing">
               @*  <div class="d-flex justify-content-center align-items-center">
                @if (item.ClothingImage != null)
                {
                        <img class="m-3 w-50" src="data:image/png;base64,@Convert.ToBase64String(item.ClothingImage)" alt="Bild av plagg" />
                }
                else
                {
                        <img class="m-3 w-50" src="~/lib/example-pic.jpg" alt="Exempelbild" />
                }
            </div> *@
                <div class=" d-flex flex-column mx-3 p-3">
                    <h5 class="text-center mx-3 p-3">@item.ClothingName</h5>
                    <form method="post" asp-area="" asp-controller="Clothing" asp-action="Edit">
                        <input type="hidden" asp-for="@item.ClothingId" name="ClothingId" />
                        <input type="hidden" asp-for="@item.ClothingName" name="ClothingName" />
                        <div class="form-group">
                            @* <input type="hidden" asp-for="@item.ClothingUserId" name="ClothingUserId"/> *@
                            <label asp-for="@item.ClothingUserId" class="control-label mt-2 mb-2">Plagget tillhör:</label>
                            <select asp-for="@item.ClothingUserId" class="form-control" asp-items="ViewBag.FamilyMemberNames" name="ClothingUserId">
                                <option value="@item.ClothingUserId" selected="@item.ClothingUserId"></option>
                            </select>
                        </div>
                        <div class="form-group mt-3">
                            <label for="ClothingBrand">Märke:</label>
                            <input type="text" class="form-control" id="ClothingBrand" name="ClothingBrand" value="@item.ClothingBrand">
                        </div>
                        <div class="form-group mt-3">
                            <label for="ClothingSize">Storlek:</label>
                            <input type="text" class="form-control" id="ClothingSize" name="ClothingSize" value="@item.ClothingSize">
                        </div>
                        <div class="form-group mt-3">
                            <label for="ClothingColor">Färg:</label>
                            <input type="text" class="form-control" id="ClothingColor" name="ClothingColor" value="@item.ClothingColor">
                        </div>
                        <div class="form-group mt-3">
                                <label for="Season">Säsong:</label>
                            <input type="text" class="form-control" id="Season" name="Season" value="@item.Season">
                        </div>
                        <div class="form-group mt-3">
                                <label for="TypeOfClothing">Typ av plagg:</label>
                            <input type="text" class="form-control" id="TypeOfClothing" name="TypeOfClothing" value="@item.TypeOfClothing">
                        </div>
                        <div class="form-group mt-3">
                            @* <input type="hidden" asp-for="@item.StorageId"  /> *@
                            <label asp-for="@item.StorageId" class="control-label mt-2 mb-2">Förvaras i:</label>
                            <select asp-for="@item.StorageId" class="form-control" asp-items="ViewBag.StorageNames" name="StorageId">
                                <option value="@item.StorageId" selected="@item.StorageId"></option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary m-3 justify-content-end">Spara</button>
                    </form>
                </div>

            </div>
        }

    </div>
}
else
{

    <span>Välkommen! Logga in för att få tillgång till StoreQR</span>
}
