@model IEnumerable<StoreQR.Models.ClothingViewModel>
@{
    ViewData["Title"] = "Redigera klädesplagg";
}


<div class="d-flex flex-row align-items-center justify-content-center">
    @foreach (var item in Model)
    {
        <div class="m-1 p-0 flex-column d-flex">
            @* <div class="d-flex justify-content-center align-items-center">
                @if (item.ClothingImage != null)
                {
                    <img class="m-3" src="data:image/png;base64,@Convert.ToBase64String(item.ClothingImage)" alt="Bild av plagg" />
                }
                else
                {
                    <img class="m-3" src="~/lib/example-pic.jpg" alt="Exempelbild" />
                }
            </div> *@
            <div class=" d-flex flex-column mx-3 p-3">
                <h5 class="text-center mx-3 p-3">@item.ClothingName</h5>
                <p class="mx-3 p-3 text-center">Användare: @item.FamilyMemberName</p>
                <p class="mx-3 p-3 text-center">Märke: @item.ClothingBrand</p>
                <p class="mx-3 p-3 text-center">Storlek: @item.ClothingSize</p>
                <p class=" mx-3 p-3 text-center">Färg: @item.ClothingColor</p>
                <p class=" mx-3 p-3 text-center">Material: @item.ClothingMaterial</p>
                <p class=" mx-3 p-3 text-center">Säsong: @item.Season</p>
                <p class=" mx-3 p-3 text-center">Typ av plagg: @item.TypeOfClothing</p>
                <p class=" mx-1 p-1 text-center">@item.StorageName</p>
                <a class="btn btn-primary m-3 justify-content-end " asp-area="" asp-controller="Clothing" asp-action="Edit">Spara</a> 
                @* Kolla upp asp-action för att spara *@
            </div>

        </div>
    }
</div>