@model IEnumerable<StoreQR.Models.ClothingViewModel>
@{
    ViewData["Title"] = "Kläder";
}


@if (User?.Identity?.IsAuthenticated == true)
{

    <div class="container d-flex flex-column align-items-center justify-content-center">
        <h2 class="mb-3 mt-3">Mina kläder</h2>
        <div class="d-flex align-items-center justify-content-center">
            <a class="btn btn-primary addClothesButton px-3" asp-area="" asp-controller="Clothing" asp-action="Create">Lägg till nytt</a>
        </div>
        <div class="d-flex flex-row  flex-xs-wrap flex-md-nowrap">
            <form class="mx-3" id="filterForm" method="get" action="@Url.Action("Index", "Clothing")">
                <fieldset class="d-flex flex-column justify-content-center align-items-center">
                    <div class="form-group">
                        <label class="control-label">Välj användare</label>
                        <select name="FamilyMemberName" class="form-control filter-dropdown family-dropdown">
                            <option value="">Alla användare</option>
                            @foreach (var distinctFamilyMemberName in ViewBag.DistinctFamilyMemberName)
                            {
                                <option value="@distinctFamilyMemberName">@distinctFamilyMemberName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Välj märke</label>
                        <select name="ClothingBrand" class="form-control filter-dropdown size-dropdown">
                            <option value="">Alla märken</option>
                            @foreach (var distinctBrand in ViewBag.DistinctBrands)
                            {
                                <option value="@distinctBrand">@distinctBrand</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Välj storlek</label>
                        <select name="ClothingSize" class="form-control filter-dropdown size-dropdown">
                            <option value="">Alla storlekar</option>
                            @foreach (var distinctSize in ViewBag.DistinctSizes)
                            {
                                <option value="@distinctSize">@distinctSize</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Välj färg</label>
                        <select name="ClothingColor" class="form-control filter-dropdown size-dropdown">
                            <option value="">Alla färger</option>
                            @foreach (var distinctColor in ViewBag.DistinctColors)
                            {
                                <option value="@distinctColor">@distinctColor</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Välj säsong</label>
                        <select name="Season" class="form-control filter-dropdown size-dropdown">
                            <option value="">Alla säsonger</option>
                            @foreach (var distinctSeason in ViewBag.DistinctSeasons)
                            {
                                <option value="@distinctSeason">@distinctSeason</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Välj material</label>
                        <select name="ClothingMaterial" class="form-control filter-dropdown size-dropdown">
                            <option value="">Alla material</option>
                            @foreach (var distinctMaterial in ViewBag.DistinctMaterials)
                            {
                                <option value="@distinctMaterial">@distinctMaterial</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Välj typ av plagg</label>
                        <select name="TypeOfClothing" class="form-control filter-dropdown size-dropdown">
                            <option value="">Alla typer av plagg</option>
                            @foreach (var distinctTypeOfClothing in ViewBag.DistinctTypesOfClothing)
                            {
                                <option value="@distinctTypeOfClothing">@distinctTypeOfClothing</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Välj typ av plagg</label>
                        <select name="StorageName" class="form-control filter-dropdown size-dropdown">
                            <option value="">Alla förvaringsutrymmen</option>
                            @foreach (var StorageUnitName in ViewBag.StorageUnitName)
                            {
                                <option value="@StorageUnitName">@StorageUnitName</option>
                            }
                        </select>
                    </div>

            
                <input type="submit" class="mt-3 btn-primary" value="Applicera filter">
                    <a href="@Url.Action("Index", "Clothing", new { ResetFilters = true })" class="mt-3 btn btn-warning">Återställ filter</a>
                </fieldset>
            </form>

            <div class="d-flex flex-row align-items-center justify-content-center flex-wrap">
            @foreach (var item in Model)
            {
                <div class="card ClothingCard m-1 p-0 flex-column d-flex">
                    <div class="d-flex justify-content-center align-items-center">
                    <img class="m-3" src="./lib/example-pic.jpg" alt="Example picture" />
                    </div>
                    <div class="card-body d-flex flex-column mx-3 p-3 ClothingCardBody">
                            <h4 class="card-title text-center mx-3 p-3">@item.ClothingName</h4>
                            <p class="card-text mx-3 p-3 text-center">Användare: @item.FamilyMemberName</p>
@*                             <p class="card-text mx-3 p-3 text-center">Märke: @item.ClothingBrand</p>
                            <p class="card-text mx-3 p-3 text-center">Storlek: @item.ClothingSize</p>
                            <p class="card-text mx-3 p-3 text-center">Färg: @item.ClothingColor</p>
                            <p class="card-text mx-3 p-3 text-center">Material: @item.ClothingMaterial</p>
                        <p class="card-text mx-3 p-3 text-center">Säsong: @item.Season</p> *@
                       @*  <p class="card-text mx-3 p-3 text-center">Typ av plagg: @item.TypeOfClothing</p> *@
                        <p class="card-text mx-1 p-1 text-center">@item.StorageName</p>
                        <a class="btn btn-primary m-3 justify-content-end " asp-area="" asp-controller="Clothing" asp-action="Edit">Redigera</a>
                    </div>

                </div>
            }
            </div>
         
           
        </div>
       
    </div>

}
else
{

    <span>Välkommen! Logga in för att få tillgång till StoreQR</span>
}


<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Hämta alla filterelement
        var filterForm = document.getElementById("filterForm");

        // Lägg på ett change-event på varje dropdown
        filterForm.addEventListener("change", function () {
            // Skicka formuläret om innehållet i dropdownen ändras
            filterForm.submit();
        });
    });

</script>

